<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tlias.mapper.EmpMapper">


    <select id="getEmpsInOnePage" resultType="com.tlias.pojo.Emp">
        select * from emp
        <where>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="gender==1 or gender==2">
                and gender=#{gender}
            </if>
            <if test="begin!=null">
                and entrydate &gt; #{begin}
            </if>
            <if test="end!=null">
                and entrydate &lt; #{end}
            </if>
        </where>
        limit #{startPage},#{pageSize}
    </select>

    <select id="getEmpNumber" resultType="long">
        select count(*) from emp
        <where>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="gender!=1 or gender!=2">
                and gender=#{gender}
            </if>
            <if test="begin!=null">
                and entrydate &gt; #{begin}
            </if>
            <if test="end!=null">
                and entrydate &lt; #{end}
            </if>
        </where>
    </select>

    <!-- delete标签没有resulttype属性，默认返回int值 -->
    <delete id="deleteEmpsByIds" >
        delete from emp
        <!-- 即使只有一个条件也建议用where标签，除了自动提供where关键字，还能自动删除条件前面多余的and或or -->
        <where>
            id in
               <foreach collection="ids" item="id" open="(" close=")" separator=",">
                   #{id}
               </foreach>
         </where>




    </delete>


</mapper>